body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #2b3e42;
  background-color: #747e80;
}

/*-----HEADER-----*/
header {
  background-image: linear-gradient(to bottom right, #2b3e42, #747e80);
  height: 10rem;
  padding-bottom: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3rem), 0 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  font-size: 8vh;
  margin: 1rem;
  color: #747e80;
  border-bottom: 4px solid #f2583e;
}

input {
  height: 2rem;
}

input::placeholder {
  padding-left: 0.5rem;
  color: #2b3e42;
  font-family: "Quicksand";
}

input:hover {
  border-color: #f2583e;
}

.icon {
  margin-left: 0.5rem;
  color: #f2583e;
  padding-right: 2px;
}

/* -----SINGLE SHOW-----*/

.single-show {
  background-color: #d5e1dd;
  border: 1px solid #747e80;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 3rem;
  padding: 50px 0;
  width: 400px;
  height: 400px;
  overflow: auto;
}

.single-show::-webkit-scrollbar {
  width: 0.3vh;
  background: #f2583e;
}

.single-show::-webkit-scrollbar-thumb {
  background: #2b3e42;
}

.single-show img {
  transition: transform 400ms;
  border-radius: 5px;
}

.single-show:hover img {
  transform: scale(1.2);
}

.description {
  padding: 0 10px;
  font-size: 1rem;
  text-align: justify;
}

span {
  font-weight: bold;
}

.single-show:hover {
  border-color: #f2583e;
}

.title {
  color: #2b3e42;
  font-size: x-large;
  font-weight: bold;
}

button {
  display: block;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  font-family: Quicksand;
  font-size: small;
  font-weight: bolder;
  color: #2b3e42;
  text-decoration: underline;
}

button:hover {
  color: #f2583e;
}

/*-----ALL SHOWS-----*/

main > h1 {
  color: #2b3e42;
  text-align: center;
  padding: 3rem;
}

.underline {
  margin: 0 auto;
  width: 6rem;
  height: 0.3rem;
  background: #2b3e42;
}

.shows-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.btn-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pg-btn {
  width: 2rem;
  height: 2rem;
  background: #2b3e42;
  color: #f2583e;
  text-decoration: none;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
}
.active-btn {
  background: tomato;
  color: #2b3e42;
}

.prev-btn,
.next-btn {
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

/*-----FOOTER-----*/
footer {
  background-color: #2b3e42;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

h4 {
  text-align: center;
  color: #747e80;
}

@media (max-width: 350px) {
  header {
    width: 100%;
    flex-wrap: wrap;
  }
}

@media (max-width: 764px) {
  .shows-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  article {
    width: 300px;
  }
}

@media (max-width: 900px) {
  .shows-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 900px) {
  .shows-container {
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
  }

  article {
    width: 400px;
  }
}

@media (min-width: 1400px) {
  .shows-container {
    grid-template-columns: repeat(3, 3fr);
    width: 100%;
  }
}
